  270 > adres 4 komorek
  205 > adres kom. bledu
 4376 > wartosc pocz 4 kom.
    0 > wartosc pocz kom. bl.
    6 > czas oczekiwania
    1 > czas wylaczenia
    0 > co z 4 komorkami
    0 > co z kom. bledu
  160 > adres pamieci
    0 > typ pamieci
  512 > pojemnosc pamieci
    0 > numer portu
    0 > reakcja wejscia
    3 > komorka     0
   FF > komorka     1
   25 > komorka     2
   6C > komorka     3
   26 > komorka     4
   84 > komorka     5
   25 > komorka     6
   EE > komorka     7
   26 > komorka     8
   3E > komorka     9
   FF > komorka    10
   FF > komorka    11
   FF > komorka    12
   FF > komorka    13
    5 > komorka    14
    8 > komorka    15
    1 > komorka    16
   FF > komorka    17
    4 > komorka    18
    2 > komorka    19
    2 > komorka    20
   F4 > komorka    21
    2 > komorka    22
   13 > komorka    23
    3 > komorka    24
   21 > komorka    25
   FF > komorka    26
   FF > komorka    27
   FF > komorka    28
   FF > komorka    29
   80 > komorka    30
   FF > komorka    31
   54 > komorka    32
   FF > komorka    33
   FF > komorka    34
   FF > komorka    35
   FF > komorka    36
   FF > komorka    37
   FF > komorka    38
   FF > komorka    39
   FF > komorka    40
   FF > komorka    41
   FF > komorka    42
   FF > komorka    43
   FF > komorka    44
   FF > komorka    45
   FF > komorka    46
   FF > komorka    47
   A4 > komorka    48
   FF > komorka    49
   26 > komorka    50
   3E > komorka    51
   26 > komorka    52
   CA > komorka    53
   26 > komorka    54
   98 > komorka    55
   24 > komorka    56
   FE > komorka    57
   FF > komorka    58
   FF > komorka    59
   FF > komorka    60
   FF > komorka    61
   FF > komorka    62
   FF > komorka    63
   FF > komorka    64
   FF > komorka    65
   25 > komorka    66
   6C > komorka    67
   26 > komorka    68
   84 > komorka    69
   25 > komorka    70
   EE > komorka    71
   23 > komorka    72
   B4 > komorka    73
   FF > komorka    74
   FF > komorka    75
   FF > komorka    76
   FF > komorka    77
   FF > komorka    78
   FF > komorka    79
   FF > komorka    80
   FF > komorka    81
   FF > komorka    82
   FF > komorka    83
   FF > komorka    84
   FF > komorka    85
   FF > komorka    86
   FF > komorka    87
   FF > komorka    88
   FF > komorka    89
   FF > komorka    90
   FF > komorka    91
   FF > komorka    92
   FF > komorka    93
   FF > komorka    94
   FF > komorka    95
   FF > komorka    96
   FF > komorka    97
   FF > komorka    98
   FF > komorka    99
   FF > komorka   100
   FF > komorka   101
   FF > komorka   102
   FF > komorka   103
   FF > komorka   104
   FF > komorka   105
   FF > komorka   106
   FF > komorka   107
   FF > komorka   108
   FF > komorka   109
   FF > komorka   110
   FF > komorka   111
   FF > komorka   112
   FF > komorka   113
   FF > komorka   114
   FF > komorka   115
   FF > komorka   116
   FF > komorka   117
   FF > komorka   118
   FF > komorka   119
   FF > komorka   120
   FF > komorka   121
   FF > komorka   122
   FF > komorka   123
   FF > komorka   124
   FF > komorka   125
   FF > komorka   126
    0 > komorka   127
    3 > komorka   128
   FF > komorka   129
   25 > komorka   130
   6C > komorka   131
   26 > komorka   132
   84 > komorka   133
   25 > komorka   134
   EE > komorka   135
   26 > komorka   136
   3E > komorka   137
   FF > komorka   138
   FF > komorka   139
   FF > komorka   140
   FF > komorka   141
    5 > komorka   142
    8 > komorka   143
    1 > komorka   144
   FF > komorka   145
    4 > komorka   146
    2 > komorka   147
    2 > komorka   148
   F4 > komorka   149
    2 > komorka   150
   13 > komorka   151
    3 > komorka   152
   21 > komorka   153
   FF > komorka   154
   FF > komorka   155
   FF > komorka   156
   FF > komorka   157
   80 > komorka   158
   FF > komorka   159
   54 > komorka   160
   FF > komorka   161
   FF > komorka   162
   FF > komorka   163
   FF > komorka   164
   FF > komorka   165
   FF > komorka   166
   FF > komorka   167
   FF > komorka   168
   FF > komorka   169
   FF > komorka   170
   FF > komorka   171
   FF > komorka   172
   FF > komorka   173
   FF > komorka   174
   FF > komorka   175
   A4 > komorka   176
   FF > komorka   177
   26 > komorka   178
   3E > komorka   179
   26 > komorka   180
   CA > komorka   181
   26 > komorka   182
   98 > komorka   183
   24 > komorka   184
   FE > komorka   185
   FF > komorka   186
   FF > komorka   187
   FF > komorka   188
   FF > komorka   189
   FF > komorka   190
   FF > komorka   191
   FF > komorka   192
   FF > komorka   193
   25 > komorka   194
   6C > komorka   195
   26 > komorka   196
   84 > komorka   197
   25 > komorka   198
   EE > komorka   199
   23 > komorka   200
   B4 > komorka   201
   FF > komorka   202
   FF > komorka   203
   FF > komorka   204
   FF > komorka   205
   FF > komorka   206
   FF > komorka   207
   FF > komorka   208
   FF > komorka   209
   FF > komorka   210
   FF > komorka   211
   FF > komorka   212
   FF > komorka   213
   FF > komorka   214
   FF > komorka   215
   FF > komorka   216
   FF > komorka   217
   FF > komorka   218
   FF > komorka   219
   FF > komorka   220
   FF > komorka   221
   FF > komorka   222
   FF > komorka   223
   FF > komorka   224
   FF > komorka   225
   FF > komorka   226
   FF > komorka   227
   FF > komorka   228
   FF > komorka   229
   FF > komorka   230
   FF > komorka   231
   FF > komorka   232
   FF > komorka   233
   FF > komorka   234
   FF > komorka   235
   FF > komorka   236
   FF > komorka   237
   FF > komorka   238
   FF > komorka   239
   FF > komorka   240
   FF > komorka   241
   FF > komorka   242
   FF > komorka   243
   FF > komorka   244
   FF > komorka   245
   FF > komorka   246
   FF > komorka   247
   FF > komorka   248
   FF > komorka   249
   FF > komorka   250
   FF > komorka   251
   FF > komorka   252
   FF > komorka   253
   FF > komorka   254
    0 > komorka   255
    0 > komorka   256
    0 > komorka   257
    0 > komorka   258
    0 > komorka   259
    0 > komorka   260
    0 > komorka   261
    0 > komorka   262
    0 > komorka   263
    0 > komorka   264
    0 > komorka   265
    0 > komorka   266
    0 > komorka   267
    0 > komorka   268
    0 > komorka   269
   43 > komorka   270
   76 > komorka   271
    0 > komorka   272
    0 > komorka   273
    0 > komorka   274
    0 > komorka   275
    0 > komorka   276
    0 > komorka   277
    0 > komorka   278
    0 > komorka   279
    0 > komorka   280
    0 > komorka   281
    0 > komorka   282
    0 > komorka   283
    0 > komorka   284
    0 > komorka   285
    0 > komorka   286
    0 > komorka   287
    0 > komorka   288
    0 > komorka   289
    0 > komorka   290
    0 > komorka   291
    0 > komorka   292
    0 > komorka   293
    0 > komorka   294
    0 > komorka   295
    0 > komorka   296
    0 > komorka   297
    0 > komorka   298
    0 > komorka   299
    0 > komorka   300
    0 > komorka   301
    0 > komorka   302
    0 > komorka   303
    0 > komorka   304
    0 > komorka   305
    0 > komorka   306
    0 > komorka   307
    0 > komorka   308
    0 > komorka   309
    0 > komorka   310
    0 > komorka   311
    0 > komorka   312
    0 > komorka   313
    0 > komorka   314
    0 > komorka   315
    0 > komorka   316
    0 > komorka   317
    0 > komorka   318
    0 > komorka   319
    0 > komorka   320
    0 > komorka   321
    0 > komorka   322
    0 > komorka   323
    0 > komorka   324
    0 > komorka   325
    0 > komorka   326
    0 > komorka   327
    0 > komorka   328
    0 > komorka   329
    0 > komorka   330
    0 > komorka   331
    0 > komorka   332
    0 > komorka   333
    0 > komorka   334
    0 > komorka   335
    0 > komorka   336
    0 > komorka   337
    0 > komorka   338
    0 > komorka   339
    0 > komorka   340
    0 > komorka   341
    0 > komorka   342
    0 > komorka   343
    0 > komorka   344
    0 > komorka   345
    0 > komorka   346
    0 > komorka   347
    0 > komorka   348
    0 > komorka   349
    0 > komorka   350
    0 > komorka   351
    0 > komorka   352
    0 > komorka   353
    0 > komorka   354
    0 > komorka   355
    0 > komorka   356
    0 > komorka   357
    0 > komorka   358
    0 > komorka   359
    0 > komorka   360
    0 > komorka   361
    0 > komorka   362
    0 > komorka   363
    0 > komorka   364
    0 > komorka   365
    0 > komorka   366
    0 > komorka   367
    0 > komorka   368
    0 > komorka   369
    0 > komorka   370
    0 > komorka   371
    0 > komorka   372
    0 > komorka   373
    0 > komorka   374
    0 > komorka   375
    0 > komorka   376
    0 > komorka   377
    0 > komorka   378
    0 > komorka   379
    0 > komorka   380
    0 > komorka   381
    0 > komorka   382
    0 > komorka   383
    0 > komorka   384
    0 > komorka   385
    0 > komorka   386
    0 > komorka   387
    0 > komorka   388
    0 > komorka   389
    0 > komorka   390
    0 > komorka   391
    0 > komorka   392
    0 > komorka   393
    0 > komorka   394
    0 > komorka   395
    0 > komorka   396
    0 > komorka   397
    0 > komorka   398
    0 > komorka   399
    0 > komorka   400
    0 > komorka   401
    0 > komorka   402
    0 > komorka   403
    0 > komorka   404
    0 > komorka   405
    0 > komorka   406
    0 > komorka   407
    0 > komorka   408
    0 > komorka   409
    0 > komorka   410
    0 > komorka   411
    0 > komorka   412
    0 > komorka   413
    0 > komorka   414
    0 > komorka   415
    0 > komorka   416
    0 > komorka   417
    0 > komorka   418
    0 > komorka   419
    0 > komorka   420
    0 > komorka   421
    0 > komorka   422
    0 > komorka   423
    0 > komorka   424
    0 > komorka   425
    0 > komorka   426
    0 > komorka   427
    0 > komorka   428
    0 > komorka   429
    0 > komorka   430
    0 > komorka   431
    0 > komorka   432
    0 > komorka   433
    0 > komorka   434
    0 > komorka   435
    0 > komorka   436
    0 > komorka   437
    0 > komorka   438
    0 > komorka   439
    0 > komorka   440
    0 > komorka   441
    0 > komorka   442
    0 > komorka   443
    0 > komorka   444
    0 > komorka   445
    0 > komorka   446
    0 > komorka   447
    0 > komorka   448
    0 > komorka   449
    0 > komorka   450
    0 > komorka   451
    0 > komorka   452
    0 > komorka   453
    0 > komorka   454
    0 > komorka   455
    0 > komorka   456
    0 > komorka   457
    0 > komorka   458
    0 > komorka   459
    0 > komorka   460
    0 > komorka   461
    0 > komorka   462
    0 > komorka   463
    0 > komorka   464
    0 > komorka   465
    0 > komorka   466
    0 > komorka   467
    0 > komorka   468
    0 > komorka   469
    0 > komorka   470
    0 > komorka   471
    0 > komorka   472
    0 > komorka   473
    0 > komorka   474
    0 > komorka   475
    0 > komorka   476
    0 > komorka   477
    0 > komorka   478
    0 > komorka   479
    0 > komorka   480
    0 > komorka   481
    0 > komorka   482
    0 > komorka   483
    0 > komorka   484
    0 > komorka   485
    0 > komorka   486
    0 > komorka   487
    0 > komorka   488
    0 > komorka   489
    0 > komorka   490
    0 > komorka   491
    0 > komorka   492
    0 > komorka   493
    0 > komorka   494
    0 > komorka   495
    0 > komorka   496
    0 > komorka   497
    0 > komorka   498
    0 > komorka   499
    0 > komorka   500
    0 > komorka   501
    0 > komorka   502
    0 > komorka   503
    0 > komorka   504
    0 > komorka   505
    0 > komorka   506
    0 > komorka   507
    0 > komorka   508
    0 > komorka   509
    0 > komorka   510
    0 > komorka   511
