body,td,form,input,option,select,textarea{font-family: Verdana,Arial};
.txton{font-size:8pt;Color:red; text-decoration: none};
.txttool{font-size:8pt;Color:000000; text-decoration: none};
.hidetxt{font-size:8pt;Color:999999};