  254 > adres 4 komorek
  205 > adres kom. bledu
  365 > wartosc pocz 4 kom.
    0 > wartosc pocz kom. bl.
    3 > czas oczekiwania
    1 > czas wylaczenia
    0 > co z 4 komorkami
    0 > co z kom. bledu
  160 > adres pamieci
    0 > typ pamieci
  512 > pojemnosc pamieci
    0 > numer portu
    0 > reakcja wejscia
   DC > komorka     0
   84 > komorka     1
   E8 > komorka     2
   96 > komorka     3
    0 > komorka     4
    1 > komorka     5
    6 > komorka     6
    9 > komorka     7
    0 > komorka     8
    7 > komorka     9
    8 > komorka    10
    0 > komorka    11
   41 > komorka    12
   52 > komorka    13
   50 > komorka    14
   4F > komorka    15
    1 > komorka    16
   3A > komorka    17
    0 > komorka    18
    2 > komorka    19
    0 > komorka    20
   B2 > komorka    21
    1 > komorka    22
   3A > komorka    23
    0 > komorka    24
    2 > komorka    25
    0 > komorka    26
   18 > komorka    27
    0 > komorka    28
   28 > komorka    29
    0 > komorka    30
    1 > komorka    31
    3 > komorka    32
   90 > komorka    33
    0 > komorka    34
    0 > komorka    35
    0 > komorka    36
   1E > komorka    37
    0 > komorka    38
   1E > komorka    39
    4 > komorka    40
   35 > komorka    41
    3 > komorka    42
   FC > komorka    43
    1 > komorka    44
   CE > komorka    45
    0 > komorka    46
    0 > komorka    47
    0 > komorka    48
   42 > komorka    49
    0 > komorka    50
    0 > komorka    51
    0 > komorka    52
    C > komorka    53
    0 > komorka    54
    C > komorka    55
    0 > komorka    56
   85 > komorka    57
    0 > komorka    58
   6F > komorka    59
    0 > komorka    60
   30 > komorka    61
    0 > komorka    62
    0 > komorka    63
   23 > komorka    64
   1B > komorka    65
    F > komorka    66
   14 > komorka    67
   15 > komorka    68
   13 > komorka    69
    F > komorka    70
   17 > komorka    71
   14 > komorka    72
   10 > komorka    73
    1 > komorka    74
    3 > komorka    75
   18 > komorka    76
    0 > komorka    77
    0 > komorka    78
    0 > komorka    79
    2 > komorka    80
   80 > komorka    81
   23 > komorka    82
   1B > komorka    83
   13 > komorka    84
   32 > komorka    85
   28 > komorka    86
   23 > komorka    87
   1B > komorka    88
   13 > komorka    89
   26 > komorka    90
   FD > komorka    91
   E2 > komorka    92
   C4 > komorka    93
   88 > komorka    94
   F6 > komorka    95
    2 > komorka    96
    0 > komorka    97
   10 > komorka    98
   3F > komorka    99
   16 > komorka   100
   23 > komorka   101
   1C > komorka   102
   1B > komorka   103
   21 > komorka   104
   15 > komorka   105
   27 > komorka   106
   14 > komorka   107
    C > komorka   108
    D > komorka   109
    E > komorka   110
    F > komorka   111
   24 > komorka   112
   1C > komorka   113
   13 > komorka   114
    0 > komorka   115
    0 > komorka   116
    0 > komorka   117
    0 > komorka   118
    0 > komorka   119
    0 > komorka   120
    0 > komorka   121
    0 > komorka   122
    0 > komorka   123
    0 > komorka   124
    0 > komorka   125
    0 > komorka   126
    0 > komorka   127
    0 > komorka   128
    0 > komorka   129
    0 > komorka   130
    0 > komorka   131
    0 > komorka   132
    0 > komorka   133
    0 > komorka   134
    0 > komorka   135
    0 > komorka   136
    0 > komorka   137
    0 > komorka   138
    0 > komorka   139
    0 > komorka   140
    0 > komorka   141
    0 > komorka   142
    0 > komorka   143
    0 > komorka   144
    0 > komorka   145
    0 > komorka   146
    0 > komorka   147
    0 > komorka   148
    0 > komorka   149
    0 > komorka   150
    0 > komorka   151
    0 > komorka   152
    0 > komorka   153
    0 > komorka   154
    0 > komorka   155
    0 > komorka   156
    0 > komorka   157
    0 > komorka   158
    0 > komorka   159
   D3 > komorka   160
   13 > komorka   161
   42 > komorka   162
   41 > komorka   163
   59 > komorka   164
   45 > komorka   165
   52 > komorka   166
   4E > komorka   167
   33 > komorka   168
   30 > komorka   169
   58 > komorka   170
    0 > komorka   171
    0 > komorka   172
    0 > komorka   173
    0 > komorka   174
    C > komorka   175
   D8 > komorka   176
   81 > komorka   177
   4E > komorka   178
   44 > komorka   179
   52 > komorka   180
   31 > komorka   181
   20 > komorka   182
   4E > komorka   183
   44 > komorka   184
   53 > komorka   185
   69 > komorka   186
    0 > komorka   187
    0 > komorka   188
    0 > komorka   189
    0 > komorka   190
    6 > komorka   191
   D3 > komorka   192
   82 > komorka   193
   20 > komorka   194
   4E > komorka   195
   44 > komorka   196
   52 > komorka   197
   20 > komorka   198
   32 > komorka   199
   20 > komorka   200
   20 > komorka   201
   6E > komorka   202
    0 > komorka   203
    0 > komorka   204
    0 > komorka   205
    0 > komorka   206
    6 > komorka   207
   D7 > komorka   208
   89 > komorka   209
   41 > komorka   210
   4E > komorka   211
   54 > komorka   212
   45 > komorka   213
   4E > komorka   214
   4E > komorka   215
   45 > komorka   216
   20 > komorka   217
   50 > komorka   218
    0 > komorka   219
    0 > komorka   220
    0 > komorka   221
    0 > komorka   222
    6 > komorka   223
   D7 > komorka   224
   E9 > komorka   225
   20 > komorka   226
   44 > komorka   227
   45 > komorka   228
   4C > komorka   229
   54 > komorka   230
   41 > komorka   231
   20 > komorka   232
   20 > komorka   233
   B5 > komorka   234
    0 > komorka   235
    0 > komorka   236
    0 > komorka   237
    0 > komorka   238
    6 > komorka   239
    0 > komorka   240
    0 > komorka   241
   55 > komorka   242
   20 > komorka   243
   20 > komorka   244
   20 > komorka   245
   38 > komorka   246
   37 > komorka   247
   36 > komorka   248
   30 > komorka   249
    1 > komorka   250
    0 > komorka   251
    0 > komorka   252
    0 > komorka   253
    0 > komorka   254
    C > komorka   255
   D3 > komorka   256
   59 > komorka   257
   41 > komorka   258
   4C > komorka   259
   53 > komorka   260
   54 > komorka   261
   45 > komorka   262
   52 > komorka   263
   20 > komorka   264
   52 > komorka   265
   C1 > komorka   266
    0 > komorka   267
    0 > komorka   268
    0 > komorka   269
    0 > komorka   270
    6 > komorka   271
   D3 > komorka   272
   58 > komorka   273
   20 > komorka   274
   53 > komorka   275
   45 > komorka   276
   41 > komorka   277
   52 > komorka   278
   43 > komorka   279
   48 > komorka   280
   20 > komorka   281
   A1 > komorka   282
    0 > komorka   283
    0 > komorka   284
    0 > komorka   285
    0 > komorka   286
    C > komorka   287
    0 > komorka   288
    0 > komorka   289
    0 > komorka   290
    0 > komorka   291
    0 > komorka   292
    0 > komorka   293
    0 > komorka   294
    0 > komorka   295
    0 > komorka   296
    0 > komorka   297
    1 > komorka   298
    0 > komorka   299
    0 > komorka   300
    0 > komorka   301
    0 > komorka   302
    C > komorka   303
    0 > komorka   304
    0 > komorka   305
    0 > komorka   306
    0 > komorka   307
    0 > komorka   308
    0 > komorka   309
    0 > komorka   310
    0 > komorka   311
    0 > komorka   312
    0 > komorka   313
    1 > komorka   314
    0 > komorka   315
    0 > komorka   316
    0 > komorka   317
    0 > komorka   318
    4 > komorka   319
   D7 > komorka   320
   89 > komorka   321
   41 > komorka   322
   4E > komorka   323
   54 > komorka   324
   45 > komorka   325
   4E > komorka   326
   4E > komorka   327
   45 > komorka   328
   20 > komorka   329
   50 > komorka   330
    0 > komorka   331
    0 > komorka   332
    0 > komorka   333
    0 > komorka   334
    6 > komorka   335
    0 > komorka   336
    0 > komorka   337
    0 > komorka   338
    0 > komorka   339
    0 > komorka   340
    0 > komorka   341
    0 > komorka   342
    0 > komorka   343
    0 > komorka   344
    0 > komorka   345
    1 > komorka   346
    0 > komorka   347
    0 > komorka   348
    0 > komorka   349
    0 > komorka   350
    4 > komorka   351
    0 > komorka   352
    0 > komorka   353
    0 > komorka   354
    0 > komorka   355
    0 > komorka   356
    0 > komorka   357
    0 > komorka   358
    0 > komorka   359
    0 > komorka   360
    0 > komorka   361
    1 > komorka   362
    0 > komorka   363
    0 > komorka   364
    0 > komorka   365
    0 > komorka   366
    4 > komorka   367
    0 > komorka   368
    0 > komorka   369
    0 > komorka   370
    0 > komorka   371
    0 > komorka   372
    0 > komorka   373
    0 > komorka   374
    0 > komorka   375
    0 > komorka   376
    0 > komorka   377
    1 > komorka   378
    0 > komorka   379
    0 > komorka   380
    0 > komorka   381
    0 > komorka   382
    4 > komorka   383
   D5 > komorka   384
   81 > komorka   385
   20 > komorka   386
   53 > komorka   387
   45 > komorka   388
   41 > komorka   389
   52 > komorka   390
   43 > komorka   391
   48 > komorka   392
   20 > komorka   393
   25 > komorka   394
    0 > komorka   395
    0 > komorka   396
    0 > komorka   397
    0 > komorka   398
    4 > komorka   399
   D5 > komorka   400
   81 > komorka   401
   4E > komorka   402
   44 > komorka   403
   52 > komorka   404
   31 > komorka   405
   20 > komorka   406
   4E > komorka   407
   44 > komorka   408
   53 > komorka   409
   9D > komorka   410
    0 > komorka   411
    0 > komorka   412
    0 > komorka   413
    0 > komorka   414
    7 > komorka   415
   D3 > komorka   416
   58 > komorka   417
   52 > komorka   418
   41 > komorka   419
   44 > komorka   420
   49 > komorka   421
   4F > komorka   422
   20 > komorka   423
   48 > komorka   424
   48 > komorka   425
   A1 > komorka   426
    0 > komorka   427
    0 > komorka   428
    0 > komorka   429
    0 > komorka   430
    7 > komorka   431
   D4 > komorka   432
   51 > komorka   433
   4E > komorka   434
   44 > komorka   435
   52 > komorka   436
   20 > komorka   437
   31 > komorka   438
   20 > komorka   439
   48 > komorka   440
   48 > komorka   441
   1C > komorka   442
    0 > komorka   443
    0 > komorka   444
    0 > komorka   445
    0 > komorka   446
    7 > komorka   447
   D7 > komorka   448
   E1 > komorka   449
   4E > komorka   450
   44 > komorka   451
   52 > komorka   452
   20 > komorka   453
   31 > komorka   454
   20 > komorka   455
   53 > komorka   456
   48 > komorka   457
   AA > komorka   458
    0 > komorka   459
    0 > komorka   460
    0 > komorka   461
    0 > komorka   462
    7 > komorka   463
   D3 > komorka   464
   82 > komorka   465
   20 > komorka   466
   4E > komorka   467
   44 > komorka   468
   52 > komorka   469
   20 > komorka   470
   32 > komorka   471
   20 > komorka   472
   20 > komorka   473
   6E > komorka   474
    0 > komorka   475
    0 > komorka   476
    0 > komorka   477
    0 > komorka   478
    7 > komorka   479
    0 > komorka   480
    0 > komorka   481
    0 > komorka   482
    0 > komorka   483
    0 > komorka   484
    0 > komorka   485
    0 > komorka   486
    0 > komorka   487
    0 > komorka   488
    0 > komorka   489
    1 > komorka   490
    0 > komorka   491
    0 > komorka   492
    0 > komorka   493
    0 > komorka   494
    C > komorka   495
    0 > komorka   496
    0 > komorka   497
    0 > komorka   498
    0 > komorka   499
    0 > komorka   500
    0 > komorka   501
    0 > komorka   502
    0 > komorka   503
    0 > komorka   504
    0 > komorka   505
    0 > komorka   506
    0 > komorka   507
   C2 > komorka   508
   ED > komorka   509
   C2 > komorka   510
   ED > komorka   511
